<!-- <mat-calendar id="1" style="width: 300px; height: 300px;"></mat-calendar> -->
<div style="max-width:800px; margin: auto;">
    <!-- <div style="overflow: auto; margin: auto;">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" style="width: 100%;"
        [displayMonths]="3" [dayTemplate]="customDay" (select)="onDateSelection($event)"></ngb-datepicker>
    </div> -->
    <mat-toolbar>
      <span>Προγραμματισμός ραντεβού</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="new/edit"><i class="fas fa-plus"></i></button>
      <button mat-button (click)="filter()"><i class="fas fa-play"></i></button>
    </mat-toolbar>
    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Ημερομηνία
              </mat-panel-title>
              <mat-panel-description>
                Από {{date1.value | date:'dd-MM-yyyy':''}} εώς {{date2.value | date:'dd-MM-yyyy':''}}
              </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Από:" [formControl]="date1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <!-- <br/> -->
              <span class="example-spacer"></span>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Εώς:" [formControl]="date2">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
          </mat-expansion-panel>
      <mat-expansion-panel ng-show="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Προβολή διαθεσιμότητας: 
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="overflow: auto; margin: auto;">
            <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" style="width:100%"
            [displayMonths]="3" [dayTemplate]="customDay" (select)="onDateSelection($event)"></ngb-datepicker>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-table #table [dataSource]="dataSource" matSort layout-align="center center">
      <ng-container matColumnDef="name" flex="20">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ονοματεπώνυμο </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button routerLink="{{element.id}}/edit" >{{element.name}}</button>
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="start_time" flex="20">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ημερομηνία </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.start_time | date:'yyyy-MM-dd HH:mm':'' }}</mat-cell>
      </ng-container>
    
      <!-- <ng-container matColumnDef="end_time" flex="40">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ημερομηνία-Ώρα συνάντησης </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            {{ element.end_time | date:'yyyy-MM-dd HH:mm':''}}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="category" flex="20">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Κατηγορία </mat-header-cell>
        <mat-cell *matCellDef="let element" ng-if="element.category !== undefined"> 
          {{ element.category.name }}
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="actions" flex="20">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ενέργειες </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button mat-button><i class="fas fa-edit"></i></button>
          </mat-cell>
        </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
<app-calendar></app-calendar>


<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <div class="custom-day" [class.weekend]="isWeekend(date)" 
        [class.focused]="focused"
        [class.bg-primary]="selected" 
        [class.hidden]="date.month !== currentMonth" 
        [class.text-muted]="disabled"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
  >
    {{ date.day }}
</div>
  <!-- <button>b1</button> -->
</ng-template>



<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>