  .weekend {
    background-color: #e7e7e7;
    /* border-radius: 1rem; */
    color: rgb(170, 170, 170);
  }
  .hidden {
    display: none;
  }

  .custom-day {
    text-align: center;
    padding: 130px;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }