<div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">

	<form>
        <mat-form-field>
                <input  matInput placeholder="Τίτλος:" name="phone" #title (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)">
		</mat-form-field>
		<!-- <img id="img_1" alt="" width="100px" height="100px" name="img_1"> -->
		<!-- <div class="form_line">
			<label path="title">Title:</label>
			<div class="form_controls">
				<input type="text" class="form-control" #title placeholder="Title" (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)"
				/>
			</div>
		</div> -->
		<div class="form_line">
			<label>Image:</label>
			<div class="form_controls">
				<div class="upload_button_holder">
                    <!-- <button mat-button >Επιλέξτε φωτογραφία</button>   -->
                    <div class="well my-drop-zone">
                        <label class="upload_button" for="fileupload">Upload</label>
                        <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
                        <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                            multiple/>
                    </div>

				</div>

			</div>
		</div>
	</form>
	<!-- <h2>Status {{uploadPath}}</h2> -->
	   <div class="container">
			<div class="row">
				<div class="col-4" *ngFor="let response of responses; let i = index">
					<mat-card class="example-card">					
						<img height="60%" width="70%" *ngIf="!!response.data.secure_url" mat-card-image [src]="response.data.secure_url" alt="Photo of a Shiba Inu">
						<mat-card-actions>
							<button mat-button>LIKE</button>
							<button mat-button *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">DELETE</button>
						</mat-card-actions>
					</mat-card>	
				</div>
			</div>
		</div>			

	<!-- <div class="file" *ngFor="let response of responses; let i = index">
		<h3>{{response.file.name}}</h3>
    <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
		<div class="status">
			Uploading... {{response.progress}}%
			<div *ngIf="!response.status">In progress</div>
			<div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
		</div>
		<div class="progress-bar">
			<div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
		</div>
		<div class="form_line">
			<div class="form_controls">
				<div class="preview">
					<img *ngIf="!!response.data.secure_url" alt="" width="100px" height="100px" name="img_1" [src]="response.data.secure_url"> 
				</div>
			</div>
		</div>
		<div class="info">
			<table>
				<tr *ngFor="let property of getFileProperties(response.data)">
					<td> {{ property.key }} </td>
					<td> {{ property.value | json}} </td>
				</tr>
			</table>
		</div>
	</div> -->

</div>
