  .weekend {
    background-color: #e7e7e7;
    /* border-radius: 1rem; */
    color: rgb(170, 170, 170);
  }
  .hidden {
    display: none;
  }

  .example-full-width {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }


  .empty {
    background-color: #11e256;
    /* border-radius: 1rem; */
    color: rgb(25, 31, 28);
  }

  .partial {
    background-color: #e29911;
    /* border-radius: 1rem; */
    color: rgb(25, 31, 28);
  }

  .full {
    background-color: #a5a5a5;
    /* border-radius: 1rem; */
    color: rgb(22, 22, 22);
  }

  .custom-day {
    text-align: center;
    padding: 130px;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #0de429;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }