<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
  <mat-selection-list #layerOptions (selectionChange)="onLayerSelection($event, layerOptions.selectedOptions)" *ngIf="data.type === srv.LAYER_LIST">
    <mat-list-option *ngFor="let ml of mapLayers"  [value]='ml' [selected]='ml.show'>
      {{ml.name}}
    </mat-list-option>
  </mat-selection-list>

  <pk-navtex-detail *ngIf="data.type === srv.NAVTEX_DETAIL" (positioned)="onPositioned($event)"></pk-navtex-detail>
  <pk-navtex-list *ngIf="data.type === srv.NAVTEX_LIST" [nvtxs]="data" (navtexSelected)="onNavtexSelection($event)"></pk-navtex-list>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ακύρωση</button>
  <button mat-button *ngIf="data.type === srv.NAVTEX_DETAIL" (click)="onNavDetailClick()" cdkFocusInitial>ΟΚ</button>
  <button mat-button *ngIf="data.type === srv.LAYER_LIST" (click)="onLayerListClick()" cdkFocusInitial>ΟΚ</button>
  <button mat-button *ngIf="data.type === srv.NAVTEX_LIST" (click)="onNavListClick()" cdkFocusInitial>ΟΚ</button>
</div> -->