  <!-- <mat-slide-toggle [(ngModel)]="isExpanded" [checked]="isExpanded">Slide me!</mat-slide-toggle> {{isExpanded}} -->
  <mat-grid-list cols="16" rowHeight="80px">
      <mat-grid-tile colspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="13">
          <form class="search-form">
              <mat-form-field class="example-full-width" style="width:100%">
                <input type="text" placeholder="Αναζήτηση" aria-label="Number" matInput (keyup)="handleKeyPress($event)"
                      [formControl]="searchTerm" [matAutocomplete]="auto" (ngModelChange)="dataChanged($event)">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedFn" [displayWith]="displayFn">
                  <mat-option *ngFor="let item of searchResult" [value]="item">
                    {{ item.id }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
          <button mat-button><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
          <button mat-button (click)="new()"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button>
        </mat-grid-tile>
  </mat-grid-list>
  <mat-expansion-panel [expanded]="isExpanded">
      <mat-chip-list>
          <mat-chip *ngFor="let cc of criteria" [selectable]="selectable"
                    [removable]="removable" (remove)="remove(cc)">
            {{cc.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>          
      </mat-chip-list>
    </mat-expansion-panel>

    <mat-table #table [dataSource]="dataSource" matSort layout-align="center center">

      <ng-container matColumnDef="prot_num" flex="20">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Α.Π. </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button routerLink="/protocols/{{element.id}}" >{{element.prot_num}}</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="prot_date" flex="20">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ημερομηνία </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.protdate | date:'yyyy-MM-dd HH:mm':'' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="theme" flex="60">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Θέμα </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <mat-card>
                <mat-card-subtitle>{{element.prot_num}}</mat-card-subtitle>
                <mat-card-content>{{element.theme}}</mat-card-content>
            </mat-card>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" flex="60">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ενέργειες </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button mat-button>LIKE</button>
          </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>



