<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 

<div style="max-width:800px; margin: auto;">
    <mat-grid-list cols="16" >
        <mat-grid-tile colspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="13"> 
            <form class="search-form">
                <mat-form-field class="example-full-width" style="width:100%">
                    <input type="text" placeholder="Αναζήτηση αγγελιών" aria-label="Number" matInput #searchinp
                            [formControl]="searchTerm" (keyup)="handleKeyPress($event)">
                </mat-form-field>
            </form>
         </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-button><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
        </mat-grid-tile>
    </mat-grid-list>


    <div class="row justify-content-left">
        <div class="col-md-6" *ngFor="let token of ads">
            <mat-card class="ad-card" routerLink="{{token.id}}">
              <mat-card-header>
                  <mat-card-title>{{token.category.name}}</mat-card-title>
                  <mat-card-subtitle>{{token.phone}} - {{token.created_on | date:'dd-MM-yyyy':''}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>    
                    <app-photo-list *ngIf="token.id" [imgPath]="token.id" [maxHeight]="60"></app-photo-list>
                    <!-- <img src="{{token}}" *ngFor="let token of token.images" alt="Card image cap" height="80" width="80"> -->
                    <p>
                        {{token.body}}
                    </p>                   
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button routerLink='{{token.id}}'><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                    <button mat-raised-button routerLink='create-ad'><i class="fa fa-edit fa-lg" *ngIf="token.user_uid == uid" aria-hidden="true"></i></button>
                </mat-card-actions>
            </mat-card>
        </div>
      </div>
</div>
 




  








