<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 

<div style="max-width:800px; margin: auto;">
    <mat-grid-list cols="16" >
        <mat-grid-tile colspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="13"> 
            <form class="search-form">
                <mat-form-field class="example-full-width" style="width:100%">
                  <input type="text" placeholder="Αναζήτηση αγγελιών" aria-label="Number" matInput #searchinp
                         [formControl]="searchTerm" (keyup)="handleKeyPress($event)">
                </mat-form-field>
              </form>
         </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-button><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- <mat-grid-list cols="8" >
        <mat-grid-tile *ngFor="let obj of ads" [colspan]="2" [rowspan]="1">
                <mat-card class="ad-card">
                    <mat-card-header>
                        <mat-card-title>{{obj.user_id}}</mat-card-title>
                        <mat-card-subtitle>{{obj.phone}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>    
                        
                        <p>{{obj.body}}</p>                   
                    </mat-card-content>                  
                </mat-card>

        </mat-grid-tile>
     </mat-grid-list> -->

    <div class="row justify-content-left">
        <div class="col-md-6" *ngFor="let obj of ads">
            <mat-card class="ad-card">
              <mat-card-header>
                  <mat-card-title>{{obj.user_id}}</mat-card-title>
                  <mat-card-subtitle>{{obj.phone}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>    
                    <!-- <img src="{{obj.image_url}}" alt="Card image cap"> -->
                    <p>
                        {{obj.body}}
                    </p>                   
                </mat-card-content>
            </mat-card>
        </div>
      </div>
</div>
 




  








