<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/pankal-e7786.appspot.com/o/pkenergy_images%2Fgetimg.gif?alt=media&token=7a3c963e-5479-402f-b05e-082af5769d5d" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          H εταιρεία ιδρύθηκε το 2007 από Διπλωματούχους Ηλεκτρολόγους και Μηχανολόγους Μηχανικούς του Ε.Μ.Π. και του Α.Π.Θ. που είχαν μεγάλη εμπειρία ως σύμβουλοι, κατασκευαστές και επιβλέποντες μηχανικοί σε ενεργειακά έργα με σκοπό την μελέτη, κατασκευή, επίβλεψη ενεργειακών και κτιριακών έργων.
Η γρήγορη διαπίστωση των ευκαιριών που προσφέρει η πρόοδος της τεχνολογίας σε συνδυασμό με την οξύτητα πνεύματος των μηχανικών της εταιρείας συνέβαλε στην ταχεία ανάπτυξη της εταιρείας.

Η εταιρεία έχει ιδιόκτητους Φ/Β σταθμούς καθώς και τη διαχείριση άλλων ενεργειακών έργων παρέχοντας υπηρεσίες υψηλού επιπέδου στους πελάτες της μέσα από τη μεγάλη εμπειρία της στον ενεργειακό τομέα.

Αξιοσημείωτη είναι η εμπειρία των ιδρυτών της εταρείας σε διαχείριση και χρηματοδότηση έργων Ανανεώσιμων Πηγών Ενέργειας ύψους 70 εκ. Ευρώ και έργων Φυσικού Αερίου ύψους 140 εκ. Ευρώ.

Σήμερα οι δραστηριότητες της εταιρίας καλύπτουν ένα ευρύ φάσμα υπηρεσιών που αφορά σε σε ενεργειακά έργα, έργα εξοικονόμησης ενέργειας, φυσικό αέριο, κατασκευές κτιρίων, μελέτες ενεργειακών έργων.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/pankal-e7786.appspot.com/o/pkenergy_images%2Fbay3.JPG?alt=media&token=de21fd81-67b3-4992-83c6-d0de37b46919" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>







