<link rel="stylesheet" href="/assets/svg/icomoon/style.css">

<!-- <span class="icon-pencil2 right-btns"></span> -->

<!-- {{locOptions | json}} -->
<!-- ----{{suggestion | json}} -->
<form class="search-form" *ngIf="showsearch">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Αναζήτηση" aria-label="Number" matInput #searchinp
          [formControl]="searchTerm" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" 
        [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)">
          <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
          <mat-option *ngFor="let option of locOptions" [value]="option" [innerHTML]="option.label">
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<div class="search-navtex-form" *ngIf="showNavtexSearch">
  <mat-radio-group aria-label="Επιλέξτε σταθμό" [(ngModel)]="selectedStation">
    <mat-radio-button class="example-radio-button" *ngFor="let station of stations" [value]="station">{{station}} </mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="example-full-width">
      <input type="text" placeholder="Εισάγετε NAVTEX για {{selectedStation}}" aria-label="Number" matInput #searchinp
        [formControl]="searchNavtex">
  </mat-form-field>
</div>



<!-- <svg class="icon"><use xlink:href="/assets/svg/drama.svg"></use></svg> -->

<!-- <svg><use xlink:href="assets/svg/drama.svg#icon-images"></use></svg> -->

<button mat-icon-button class="right-btns location-btn" (click)="myLocation()">
    <mat-icon aria-label="my location">location_on</mat-icon>
</button>
<button mat-icon-button class="right-btns search-btn" (click)="showsearch = !showsearch">
    <mat-icon aria-label="my location">location_searching</mat-icon>
</button>

 <!-- (click)="showNavtexSearch = !showNavtexSearch" -->

<button mat-icon-button class="right-btns search-navtex-btn" (click)="showNavtexSearch = !showNavtexSearch">
  <mat-icon aria-label="navtex search">directions_boat</mat-icon>
</button>

<button mat-icon-button class="right-btns navtex-detail-btn" (click)="openDialog(mapSrv.NAVTEX_DETAIL)">
    <i class="fas fa-lg fa-water"></i>
  </button>

<button mat-icon-button class="right-btns layers-btn" (click)="openDialog(mapSrv.LAYER_LIST, mapLayers)">
  <i class="fas fa-lg fa-object-group"></i>
</button>

<button mat-icon-button class="right-btns list-navtex-btn" (click)="openDialog(mapSrv.NAVTEX_LIST, mapLayers)">
  <mat-icon aria-label="navtex search">layers</mat-icon>
</button>

<button mat-icon-button class="left-btns logo-btn" (click)="showNavtexSearch = !showNavtexSearch">
  <img src="assets/gremb_nic.png" alt="" width="90px" onError="" matTooltip="">
</button>

<div class="map-full-width" id="mapContainer"></div>
