.map-full-width {
    width: 100%;
    height: 900px;

}

.search-form {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fffffff6;
    padding: 5px;
    height: 50px;
    width: 50%;
    border-radius: 5px;  
}

.search-navtex-form{
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fffffff6;
    padding: 5px;
    height: 180px;
    width: 50%;
    border-radius: 5px;  
}


.suggestions {
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffc5;
    padding: 5px;
    width: 80%;
    border-radius: 5px;  
}

.right-btns {
    position: fixed;
    z-index: 1;
    left: 97%;
}

.left-btns {
    position: fixed;
    z-index: 1;
    left: 1%;
}

.location-btn {
    top: 40px;
}

.search-btn {
    top: 70px;
}

.search-navtex-btn {
    top: 100px;
}

.logo-btn {
    top: 50px;
    width: 80px;
}

.example-full-width {
    width: 100%;
}

.example-radio-button {
    margin: 5px;
  }

.icon {
    display: inline-block;
    width: 10em;
    height: 10em;
   
    stroke-width: 1;
    stroke: black;
    fill: red;
}
