<link rel="stylesheet" href="/assets/svg/icomoon/style.css">

<span class="icon-pencil2 right-btns"></span>

<!-- {{locOptions | json}} -->
<!-- ----{{suggestion | json}} -->
<form class="search-form" *ngIf="showsearch">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Αναζήτηση" aria-label="Number" matInput #searchinp
          [formControl]="searchTerm" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" 
        [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)">
          <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
          <mat-option *ngFor="let option of locOptions" [value]="option" [innerHTML]="option.label">
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<form class="search-form" *ngIf="showNavtexSearch">
  <mat-form-field class="example-full-width">
      <input type="text" placeholder="Εισάγετε NAVTEX" aria-label="Number" matInput #searchinp
        [formControl]="searchNavtex">
  </mat-form-field>
</form>

<!-- <svg class="icon"><use xlink:href="/assets/svg/drama.svg"></use></svg> -->

<!-- <svg><use xlink:href="assets/svg/drama.svg#icon-images"></use></svg> -->

<button mat-icon-button class="right-btns location-btn" (click)="myLocation()">
    <mat-icon aria-label="my location">location_on</mat-icon>
</button>
<button mat-icon-button class="right-btns search-btn" (click)="showsearch = !showsearch">
    <mat-icon aria-label="my location">location_searching</mat-icon>
</button>

<button mat-icon-button class="right-btns search-navtex-btn" (click)="showNavtexSearch = !showNavtexSearch">
  <mat-icon aria-label="navtex search">directions_boat</mat-icon>
</button>

<div class="map-full-width" id="mapContainer"></div>
