.map-full-width {
    width: 100%;
    height: 700px;

}

.search-form {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffc5;
    padding: 5px;
    height: 50px;
    width: 50%;
    border-radius: 5px;  
}

.suggestions {
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffc5;
    padding: 5px;
    width: 80%;
    border-radius: 5px;  
}

.example-full-width {
    width: 100%;
}
