<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
  <mat-selection-list #layerOptions (selectionChange)="onLayerSelection($event, layerOptions.selectedOptions)" *ngIf="data.type === srv.NAVTEX_LIST">
    <mat-list-option *ngFor="let ml of mapLayers"  [value]='ml' [selected]='ml.show'>
      {{ml.name}}
    </mat-list-option>
  </mat-selection-list>

  <pk-navtex-detail *ngIf="data.type === srv.NAVTEX_DETAIL"></pk-navtex-detail>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ακύρωση</button>
  <button mat-button [mat-dialog-close]="mapLayers" cdkFocusInitial>ΟΚ</button>
</div>