<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <protocol-detail [protocol]="selectedProtocol"></protocol-detail>


  <ul class="heroes">
    <li *ngFor="let protocol of protocols" (click)="onSelect(protocol)" 
          [class.selected]="protocol === selectedProtocol">
      <span class="badge">{{protocol.id}}</span> {{protocol.name}}
    </li> 
  </ul>

  <div *ngIf="selectedProtocol">
    <h2>
      {{selectedProtocol.name | uppercase}} is the selected protocol
    </h2>
    <button mat-raised-button (click)="gotoDetail()">View Details</button>
    
  </div>
</div>


