<div *ngIf="contact" class="example-container">
  <h2>Λεπτομέρειες επαφής</h2>

    <mat-form-field class="example-full-width" *ngIf="false" >
      <input matInput [(ngModel)]="contact.id" placeholder="UUID επαφής" readonly="true">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="contact.code" placeholder="Κωδικός επαφής" readonly="false">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="contact.legal_name" placeholder="Όνομα επαφής" readonly="false">
    </mat-form-field>

    <div class="button-row">
      <button mat-button (click)="goBack()"><i class="material-icons">keyboard_backspace</i></button>
      <button mat-button color="primary"><i class="material-icons">mode_edit</i></button>
      <button mat-button color="primary" (click)="saveContact(contact)"><i class="material-icons">save</i></button>
      <button mat-button (click)="deleteContact(contact)" color="warn"><i class="material-icons">delete</i></button>
    </div>

  
</div>


