<mat-toolbar color="basic" class="topnav-toolbar">
    <a mat-button  routerLink="/intro"><i class="material-icons ">home</i></a>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->

    <span *ngIf="user">{{user.username}}</span>
    <div *ngIf="user | async as user;">
        <!-- <span>{{ user.authDomain }}</span> -->
        <div mat-card-avatar class="example-header-image">
            <img src="{{ user.photoURL }}" alt="" onError="this.src='assets/baseline_person_outline_white_24dp.png';" 
            width="35" height="35" matTooltip="{{ user.displayName }}" [matTooltipPosition]="ttposition">
        </div>
      </div>
    <mat-progress-spinner *ngIf="user" matTooltip="{{counterStr}}"
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="spinnerValue"
        [strokeWidth]="3.5" 
        [diameter]="20">
    </mat-progress-spinner>
    <!-- <span>{{counterStr}} - {{spinnerValue}}</span> -->
    <button mat-icon-button (click)="logout()" *ngIf="isLoggedIn()" matTooltip="Logout!" [matTooltipPosition]="ttposition">   
        <i class="fas fa-sign-out-alt fa-lg" aria-hidden="true"></i>         
    </button>
    <button mat-icon-button (click)="login()" *ngIf="!isLoggedIn()" matTooltip="Login!" [matTooltipPosition]="ttposition">      
        <i class="fas fa-sign-in-alt fa-lg" aria-hidden="true"></i> 
    </button>
</mat-toolbar>
