.topnav-toolbar {
    height: 30px;
    /* background-color:transparent; */
    position: relative;
}

.topnav-transparent {
    position: absolute;
    /* position:relative; */
    z-index:1000;
    background-color:transparent;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-margin {
    margin: 0 10px;
  }