

<!-- <button mat-button (click)="closePressed.emit('close')">
  <mat-icon aria-label="show navtex">close</mat-icon>
</button> -->
<mat-form-field class="example-full-width">
  <input matInput placeholder="Εισάγετε NAVTEX" [(ngModel)]="searchText">
</mat-form-field>
<!-- <button mat-button (click)="showStations=!showStations">
  <mat-icon aria-label="show stations">settings</mat-icon>
</button>
<div [hidden]="!showStations">
  <mat-checkbox *ngFor="let station of stations"
  [(ngModel)]="station.show"
  >{{station.name}}</mat-checkbox>
</div> -->

    <mat-list dense class="nav-list">
      <mat-list-item *ngFor="let nv of nvtxs | filter : searchText; index as i ">
          <mat-icon mat-list-icon>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station_id === mapSrv.stations[0].id"></span>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station_id === mapSrv.stations[2].id"></span>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station_id === mapSrv.stations[3].id"></span>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station_id === mapSrv.stations[4].id"></span> 
              <span class="flag-icon flag-icon-cy" *ngIf="nv.station_id === mapSrv.stations[1].id"></span>
          </mat-icon>
         <h4 matLine>{{nv.name}} - {{nv.station_name}}</h4>
         <p matLine class="demo-2"> {{nv.published | date:'dd-MM-yyyy':''}}</p>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary" (click)="onFocusClick(nv)" >
          <mat-icon aria-label="show navtex">center_focus_strong</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onVisibilityClick(nv)" >
          <mat-icon *ngIf="nv.show" aria-label="show navtex">visibility</mat-icon>
          <mat-icon *ngIf="!nv.show" aria-label="navtex now shown">visibility_off</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onNvtxDetailClick(nv)" >
          <mat-icon aria-label="show navtex">more_vert</mat-icon>
        </button>
        <!-- <button mat-icon-button color="primary" (click)="onNvtxDetailDelete(nv)" >
          <mat-icon aria-label="show navtex">delete</mat-icon>
        </button>  -->
      </mat-list-item>
   </mat-list>  


<!-- <mat-card *ngFor="let nv of nvtxs; index as i">
  <mat-card-header style="width: 100%">
    <div mat-card-avatar>
        <span class="flag-icon flag-icon-tr" *ngIf="nv.station === mapSrv.stations[0]"></span>
        <span class="flag-icon flag-icon-cy" *ngIf="nv.station === mapSrv.stations[1]"></span>
    </div>
    <mat-card-subtitle style="width: 500px">
      <b>{{nv.name}}</b>{{nv.published | date:'dd-MM-yyyy':''}}
      <span class="example-spacer"></span>
      <button mat-icon-button color="primary" (click)="onVisibilityClick(i)" >
        <mat-icon *ngIf="nv.show" aria-label="show navtex">visibility</mat-icon>
        <mat-icon *ngIf="!nv.show" aria-label="navtex now shown">visibility_off</mat-icon>
      </button>
      <button mat-icon-button  (click)="nv.expanded = !nv.expanded" >
          <mat-icon *ngIf="!nv.expanded" aria-label="expand">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="nv.expanded" aria-label="shrink">keyboard_arrow_up</mat-icon>
        </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="nv.expanded">
    <p>
        {{nv.description}}
    </p>
  </mat-card-content>
</mat-card> -->



<!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let nv of nvtxs; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title >
            <button mat-icon-button>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station === mapSrv.stations[0]"></span>
              <span class="flag-icon flag-icon-cy" *ngIf="nv.station === mapSrv.stations[1]"></span>
            </button>
            {{nv.name}}
        </mat-panel-title>
        <mat-panel-description>
            {{nv.published | date:'dd-MM-yyyy':''}}

            <span class="example-spacer"></span>
            <button mat-icon-button color="primary" (click)="onFocusClick(i)" >
              <mat-icon aria-label="show navtex">center_focus_strong</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onVisibilityClick(i)" >
              <mat-icon *ngIf="nv.show" aria-label="show navtex">visibility</mat-icon>
              <mat-icon *ngIf="!nv.show" aria-label="navtex now shown">visibility_off</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onFocusClick(i)" >
              <mat-icon aria-label="show navtex">more_vert</mat-icon>
            </button>

        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion> -->

