
<!-- <mat-selection-list #navtexOptions (selectionChange)="onNavtexSelection($event, navtexOptions.selectedOptions)">
  <mat-list-option *ngFor="let nv of nvtxs"  [value]='nv'>
    <h3>{{nv.name}}</h3> {{nv.station}}
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </mat-list-option>
</mat-selection-list> -->

<!-- <mat-list role="list">
  <mat-list-item *ngFor="let nv of nvtxs" role="listitem">
    <b>{{nv.name}}</b><span></span><span>{{nv.station}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">visibility</mat-icon>
    </button> 
    <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">visibility_off</mat-icon>
      </button> 
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>    
  </mat-list-item>
</mat-list> -->

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer-content>
    <mat-list>
      <mat-list-item *ngFor="let nv of nvtxs; index as i">
          <mat-icon mat-list-icon>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station === mapSrv.stations[0]"></span>
              <span class="flag-icon flag-icon-cy" *ngIf="nv.station === mapSrv.stations[1]"></span>
          </mat-icon>
         <h4 matLine>{{nv.name}}</h4>
         <p matLine class="demo-2"> {{nv.published | date:'dd-MM-yyyy':''}} </p>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary" (click)="onVisibilityClick(i)" >
          <mat-icon *ngIf="nv.show" aria-label="show navtex">visibility</mat-icon>
          <mat-icon *ngIf="!nv.show" aria-label="navtex now shown">visibility_off</mat-icon>
        </button>
        <button mat-raised-button (click)="drawer.toggle()">
            <i class="material-icons">more_horiz</i>
          </button>  
      </mat-list-item>
   </mat-list>  
  </mat-drawer-content>
  <mat-drawer #drawer [mode]="side" position="end">lala</mat-drawer>
</mat-drawer-container> -->




<!-- <mat-card *ngFor="let nv of nvtxs; index as i">
  <mat-card-header style="width: 100%">
    <div mat-card-avatar>
        <span class="flag-icon flag-icon-tr" *ngIf="nv.station === mapSrv.stations[0]"></span>
        <span class="flag-icon flag-icon-cy" *ngIf="nv.station === mapSrv.stations[1]"></span>
    </div>
    <mat-card-subtitle style="width: 500px">
      <b>{{nv.name}}</b>{{nv.published | date:'dd-MM-yyyy':''}}
      <span class="example-spacer"></span>
      <button mat-icon-button color="primary" (click)="onVisibilityClick(i)" >
        <mat-icon *ngIf="nv.show" aria-label="show navtex">visibility</mat-icon>
        <mat-icon *ngIf="!nv.show" aria-label="navtex now shown">visibility_off</mat-icon>
      </button>
      <button mat-icon-button  (click)="nv.expanded = !nv.expanded" >
          <mat-icon *ngIf="!nv.expanded" aria-label="expand">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="nv.expanded" aria-label="shrink">keyboard_arrow_up</mat-icon>
        </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="nv.expanded">
    <p>
        {{nv.description}}
    </p>
  </mat-card-content>
</mat-card> -->
<button mat-button (click)="closePressed.emit('close')">
    <mat-icon aria-label="show navtex">close</mat-icon>
  </button>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Εισάγετε NAVTEX" value="">
</mat-form-field>

<mat-accordion>
    <mat-expansion-panel *ngFor="let nv of nvtxs; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title >
            <button mat-icon-button>
              <span class="flag-icon flag-icon-tr" *ngIf="nv.station === mapSrv.stations[0]"></span>
              <span class="flag-icon flag-icon-cy" *ngIf="nv.station === mapSrv.stations[1]"></span>
            </button>
            {{nv.name}}
        </mat-panel-title>
        <mat-panel-description>
            {{nv.published | date:'dd-MM-yyyy':''}}

            <span class="example-spacer"></span>
            <button mat-icon-button color="primary" (click)="onFocusClick(i)" >
                <mat-icon aria-label="show navtex">center_focus_strong</mat-icon>
              </button>
            <button mat-icon-button color="primary" (click)="onVisibilityClick(i)" >
              <mat-icon *ngIf="nv.show" aria-label="show navtex">visibility</mat-icon>
              <mat-icon *ngIf="!nv.show" aria-label="navtex now shown">visibility_off</mat-icon>
            </button>

        </mat-panel-description>
      </mat-expansion-panel-header>
      {{nv.description}}
    </mat-expansion-panel>
</mat-accordion>

