<div class="row justify-content-center" style="min-height: 100px; max-width:800px; margin: auto;">
    
</div>
<div class="row justify-content-center" style="max-width:800px; margin: auto;">
    <div class="col-md-3">
        <button mat-button routerLink='aggelies'>
            <mat-card class="example-card">
                <mat-card-content>    
                    <i class="fab fa-searchengin fa-8x" ></i>
                    <p>
                    Αναζητείστε αγγελία
                    </p>                   
                </mat-card-content>
            </mat-card>
        </button>
    </div>
    <div class="col-md-3">
            <button mat-button routerLink='create-ad'>
            <mat-card class="example-card">     
                <mat-card-content>    
                    <i class="fas fa-plus fa-8x" ></i>
                    <p>
                    Νέα αγγελία
                    </p>                   
                </mat-card-content>    
            </mat-card>
        </button>
    </div>
    <div class="col-md-3">
            <button mat-button routerLink='create-ad'>
            <mat-card class="example-card">     
                <mat-card-content>    
                    <i class="fas fa-shopping-cart fa-8x" ></i>
                    <p>
                    Το καλάθι μου
                    </p>                   
                </mat-card-content>    
            </mat-card>
        </button>
    </div>
</div>

