<div class="row justify-content-center" style="min-height: 100px">
    
</div>
<div class="row justify-content-center">
    <div class="col-md-3">
        <button mat-button routerLink='aggelies'>
            <mat-card class="example-card">
                <mat-card-content>    
                    <i class="fab fa-searchengin fa-10x" ></i>
                    <p>
                    Αναζητείστε αγγελία
                    </p>                   
                </mat-card-content>
            </mat-card>
        </button>
    </div>
    <div class="col-md-3">
            <button mat-button routerLink='create-ad'>
            <mat-card class="example-card">     
                <mat-card-content>    
                    <i class="fas fa-plus fa-10x" ></i>
                    <p>
                    Δημιουργείστε μια νέα αγγελία
                    </p>                   
                </mat-card-content>    
            </mat-card>
        </button>
    </div>
    <div class="col-md-3">
            <button mat-button routerLink='create-ad'>
            <mat-card class="example-card">     
                <mat-card-content>    
                    <i class="fas fa-shopping-cart fa-10x" ></i>
                    <p>
                    Το καλάθι μου
                    </p>                   
                </mat-card-content>    
            </mat-card>
        </button>
    </div>
</div>

<!-- <mat-calendar style="width: 600px; height: 400px;"></mat-calendar> -->

<p>Simple datepicker</p>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" 
[displayMonths]="3" [dayTemplate]="customDay"></ngb-datepicker>

<hr/>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

<hr/>

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>

<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
    <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
          [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
      {{ date.day }}
    </span>
  </ng-template>