<div *ngIf="entity" class="example-container">
  <h2 [hidden]="isEdit">Λεπτομέρειες επαφής</h2>
  <h2 [hidden]="!isEdit">Επεξεργασία επαφής</h2>

    <mat-form-field class="example-full-width" *ngIf="false" >
      <input matInput [(ngModel)]="entity.id" placeholder="UUID επαφής" [readonly]="isEdit">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="entity.code" placeholder="Κωδικός επαφής" [readonly]="!isEdit">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="entity.legal_name" placeholder="Όνομα επαφής" [readonly]="!isEdit">
    </mat-form-field>

    <div class="button-row">
      <button mat-button (click)="goBack()"><i class="material-icons">keyboard_backspace</i></button>
      <button mat-button color="primary" [disabled]="isEdit" (click)="edit()"><i class="material-icons">mode_edit</i></button>
      <button mat-button color="primary" [disabled]="!isEdit" (click)="save(entity)"><i class="material-icons">save</i></button>
      <button mat-button color="warn" [disabled]="!isEdit" (click)="delete(entity)"><i class="material-icons">delete</i></button>
    </div>

  
</div>


