<div class="photo-list">

    <p *ngIf="photos === undefined  | async">No photos were added yet.</p>

    <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let photo of photos | async">
            <h2 *ngIf="photo.context">{{photo.context.custom.photo}}</h2>
            <cl-image
                public-id={{photo.public_id}}
                class="thumbnail inline"
                height="200"
                crop="scale"
                radius="10"
                format="jpg"
                (mouseenter)="photo.isMouseOver = true"
                (mouseleave)="photo.isMouseOver = false"
                [attr.opacity]="photo.isMouseOver ? '50' : null"
            >
            </cl-image>
        </mat-grid-tile>
    </mat-grid-list>
</div>