<div class="row justify-content-center">
      <mat-vertical-stepper  [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Βασικά στοιχεία αγγελίας</ng-template>
              <mat-form-field>
                <input  matInput 
                placeholder="Τηλέφωνο" name="phone" formControlName="phone">
              </mat-form-field>
              <br/>
              <mat-form-field>
                <textarea   matInput placeholder="Κείμενο αγγελίας" formControlName="body" ></textarea>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <mat-select placeholder="Επιλέξτε κατηγορία" formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                      </mat-option>
                </mat-select>
              </mat-form-field>
              
            <div>
              <button mat-button matStepperNext>Συνέχεια</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Τοποθετείστε σημείο στο χάρτη</ng-template>
              
            <app-map-locator *ngIf="user_uid" (positioned)="onPositioned($event)"></app-map-locator>

            <div>
              <button mat-button matStepperPrevious>Πίσω</button>
              <button mat-button matStepperNext>Συνέχεια</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Τοποθετείστε φωτογραφία</ng-template>
              
                <photo-upload [uploadPath]="adv_id" (uploaded)="onUploaded($event)"></photo-upload>

            <div>
              <button mat-button matStepperPrevious>Πίσω</button>
              <button mat-button matStepperNext>Συνέχεια</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Τέλος</ng-template>
          Μπορείτε πλέον να δημοσιεύσετε την αγγελία σας.
          <div>
            <button mat-button (click)="createAd()">
              Δημιουργία αγγελίας
            </button>
            <button mat-button matStepperPrevious>Πίσω</button>
            <button mat-button (click)="stepper.reset()">Επαναφορά</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
  <!-- <div class="card col-md-4"></div> -->

</div>  

