<p>
  appointment-detail works!
</p>




<mat-form-field class="example-full-width" *ngIf="false" >
  <input matInput [(ngModel)]="token.id" placeholder="UUID επαφής" [readonly]="isEdit">
</mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput [(ngModel)]="token.name" placeholder="Κωδικός επαφής" [readonly]="!isEdit">
</mat-form-field>
<mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="start_time" [value]="token.start_time">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<div>
    <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
</div>




